name: Deploy Tabak Multiuser

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script_stop: true
          debug: true
          script: |
            set -e

            echo "==> Who am I"
            whoami

            echo "==> Go to project"
            cd /home/tabakapp/apps/tabak_multiuser/repo

            echo "==> Update code"
            git pull origin main

            echo "==> Install deps"
            npm install

            echo "==> Build"
            npx vite build

            echo "==> Replace dist"
            rm -rf /home/tabakapp/apps/tabak_multiuser/dist
            mv dist /home/tabakapp/apps/tabak_multiuser/

            echo "==> Done"
