- name: Deploy over SSH
  uses: appleboy/ssh-action@v1.0.3
  with:
    host: ${{ secrets.SSH_HOST }}
    username: ${{ secrets.SSH_USER }}
    key: ${{ secrets.SSH_KEY }}
    port: 22
    script_stop: true
    debug: true
    script: |
      whoami
      pwd
      cd ~/apps/tabak_multiuser/repo
      git pull
      npm install
      npm run build
      rm -rf ~/apps/tabak_multiuser/dist
      mv dist ~/apps/tabak_multiuser/
